* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
  
body {
    background: #2e2e2e;
    color: #ffb3db;
    max-width: 1200px;
    padding: 1rem;
    margin: 1rem auto;
}



.title {
    text-align: center;
}
.new-item-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
  
.form-row {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}
.form-footer {
    display: flex;
    justify-content: center;
}
  
.btn {
    background: hsl(308, 100%, 83%, 0.1);
    border: 1px solid hsl(308, 100%, 83%);
    color: hsl(308, 100%, 83%);
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    cursor: pointer;
    outline: none;
}
  
.btn:hover,
.btn:focus-visible {
    background: hsl(308, 100%, 83%, 0.3);
}

.btn.btn-danger {
    background: hsl(0, 100%, 40%, 0.1);
    border: 1px solid hsl(0, 100%, 65%);
    color: hsl(0, 100%, 65%);
}
.btn.btn-danger::after {
    content: "🗑️";
    margin: 0 2px;
}
  
.btn.btn-danger:hover,
.btn.btn-danger:focus-visible {
    background: hsl(0, 100%, 40%, 0.2);
}
  
.item-form input {
    transition: border 0.2s ease-in-out;
    outline: none;
    border: 1px solid hsl(0, 0%, 24%);
    border-radius: 0.25em;
    background: #242424;
    padding: 1em;
    color: #fff;
}

.item-form input:focus {
    border: 1px solid hsl(335, 100%, 85%);
}

.item-form select {
    transition: border 0.2s ease-in-out;
    
    outline: none;
    border: 1px solid hsl(0, 0%, 24%);
    border-radius: 0.25em;
    background: #242424;
    padding: 1em;
    color: #fff;
}

  
.item-form select:focus {
    border: hsl(335, 100%, 85%);
}
  
.header {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.todo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-board {
    display: flex;
    gap: 4rem;
    justify-content: center;
    flex-wrap: wrap;
}

.todo-category {
    border: 1px solid hsl(335, 100%, 85%);
    background-color: hsla(336, 100%, 85%, 0.2);
    border-radius: 6px;
    position: relative;
    align-self: stretch;
    flex: 1 1 auto;
    transition: opacity 0.2s ease 0s, min-width 300ms ease 0s, max-width 300ms ease-in 0s;
    min-width: 270px;
    max-width: 270px;
}

.todo-heading {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid hsl(335, 100%, 85%);
    padding: 0.5rem;
    justify-content: space-between;
}

.todo-heading > button {
    background: none;
    font-size: 2rem;
    border: none;
    color: hsl(335, 100%, 85%);
}
  
.list {
    margin: 0;
    padding: 0;
    margin: 1rem;
    list-style: none;
}
  
.list {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
  
.list li {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
  
.list li label {
    display: flex;
    font-weight: bold;
    gap: 0.25rem;
    cursor: pointer;
    align-items: center;
}

.list li input {
    outline: none;
    width: 0;
    height: 0;
    appearance: none;
    pointer-events: none;
    position: absolute;
}

.list li:has(input:checked) label::before {
    content: "✔";
    font-size: 0.75rem;
    font-weight: bold;
}

.modal-bg {
    width: 100vw;
    height: 100vh;
    background-color: rgba(48, 48, 48, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.modal-container {
    width: 500px;
    height: fit-content;
    border-radius: 12px;
    background-color: #292929;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.modal-header {
    display: flex;
    justify-content: space-between;
}
  
.modal-btn {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: #ff8bc9;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}

.modal-btn-close {
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
    border: none;
    color: #ff8bc9;
    font-size: 2rem;
    cursor: pointer;
}
  
.modal-btn-cancel {
    background-color: hsl(0, 100%, 65%);
}

.modal-animate {
    animation: showModal .2s forwards;
}
.modal-animate-bg {
    animation: showModalBG .2s forwards;
}

@keyframes showModal {
    from {
        opacity: 0;
        transform: scale(0.7);
    }

     to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes showModalBG {
    from {
        opacity: 0;
    }

     to {
        opacity: 1;
    }
}